
$page_bg_image: image-url("paper.png");
$content_color: rgba(115,115,115,.6);

$white: #FFF;
$black: #000;
$gray: #929497;
$gray_lightest: #f5f5f5;;
$gray_light: #E6E7E8;;
$gray_mid: #BBBDBF;
$gray_dark: #58595B;
$blue: #0084A3;
$blue_light: #D6ECF2;
$blue_dark: #00566D;
$blue_comments: #e7f8ff;
$green: #56AA00;
$green_dark: #437C00;
$green_darkest: #3C6B00;