@import "elements";

body {
  background-image: $page_bg_image;
  background-repeat: repeat repeat;
}

a {
  text-decoration: underline;
}

.content {
  background-color: $content_color;
  padding: 40px 20px 20px 20px;
  margin: 0 -20px; /* negative indent the amount of the padding to maintain the grid system */
  -webkit-border-radius: 0 0 6px 6px;
  -moz-border-radius: 0 0 6px 6px;
  border-radius: 0 0 6px 6px;
  -webkit-box-shadow: 0 1px 2px rgba(0,0,0,.15);
  -moz-box-shadow: 0 1px 2px rgba(0,0,0,.15);
  box-shadow: 0 1px 2px rgba(0,0,0,.15);
}

.tours-table, .poi-table {
  background-color: $white;
  max-width: 500px;
}