<% provide(:title, @tour.name + "'s Points of Interest") %>
<h1><%= link_to @tour.name, tour_path(@tour) %>'s Points of Interest</h1>

<%= render 'poi_table', pois: @pois %>

<br />

<%= link_to 'New Poi', new_tour_poi_path(@tour), :class => 'btn' %>
